body {
    background-color: #000000;
}

.menu {
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100px;

    background-color: #000000;
    color: #ffffff;
}

.menu .title {
    align-items: center;
    justify-content: space-evenly;

    color: #ff0000;
}

.timer, .points {
    margin-top: 10px;
}

.menu .lives {
    display: flex;

    align-items: center;
    justify-content: center;
}

.lives img {
    width: 50px;
}

.game {
    display: flex;
    width: 100%;
    height: 515px;

    align-items: center;
    justify-content: center;
    
    background-image: url("../img/background.png");

    padding: 25px;
}

.row .square {
    width: 150px;
    height: 150px;

    background-color: #ffffff99;

    border: 1px solid #000000;
    margin: 5px;
}

.square.enemy {
    background-image: url("../img/ralph-placeholder.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}